@media (min-width: 800px){
  #ime {
    display: none;
    position: fixed;
  }
  canvas {
    right: 0px;
    cursor:crosshair ;
    overflow:hidden;
    background-color: rgba(0, 0, 0, 0.12);
    border: ridge 2px #f2f2f2;
    position: fixed;
    margin-top: 45px;
    margin-right: 20px;
  }

  #results {
    display: inline-block;
  }
  .result {
  }
  a.result:hover {
    text-decoration: none;
  }
  #buttons {
    right: 0px;
    overflow:hidden;
    position: fixed;
    margin-top: 15px;
    margin-right: 40px;
  }
}
