<div class='entry {{odd}}'>
  {{^error}}
    <p class='hanging-indent'>
      <span class='writing'>
        <ruby><rb>{{midashigo}}</rb><rp> (</rp><rt>{{furigana}}</rt><rp> )</rp></ruby>
      </span>
      {{#audio}}
        <a class='pronunciation_audio' href='{{api_host}}{{audio}}'>Aussprache</a>
      {{/audio}}
      {{{definition}}}
    </p>
    {{#caption}}
      <span class='svg_image'>
        <span class='image_caption'>
          {{caption}}
        </span>
        <span class='svg'>
          <img src='{{api_host}}{{picture}}' type='image/svg+xml' alt='{{caption}}' />
        </span>
      </span>
    {{/caption}}
  {{/error}}
  {{#error}}
    <b>Fehler beim Laden</b>
    <p>{{error}}</p>
  {{/error}}
</div>
{{#sub_entries}}
<div class='entry {{odd}}'>
  <p class='hanging-indent'>
    <b>{{relation}}</b>
  </p>
</div>
  {{#entries}}
  <div class='entry {{odd}}'>
    <p class='hanging-indent'>
    <span class='writing'>
      <ruby><rb>{{subentry_midashigo}}</rb><rp> (</rp><rt>{{furigana}}</rt><rp> )</rp></ruby>
    </span>
    {{#audio}}
      <a class='pronunciation_audio' href='{{api_host}}{{audio}}'>Aussprache</a>
    {{/audio}}
    {{{definition}}}
    </p>
  </div>
  {{/entries}}
{{/sub_entries}}
