<div class='hero-unit'>
  <h1>WaDokuJT <small>和独辞典</small></h1>
</div>
<div class='row'>
  <div class='span6 offset3'>
    <form class='form-search' action='<%= to '/' %>'>
      <input name='query' type='text' autofocus class='input-xlarge search-query'>
      <button type='submit' class='btn'>Suchen!</button>
    </form>
  </div>
</div>
